# Ignore other packages if needed (example)
# OtherPackage/
# SomeStudioTool/

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
**/__pycache__/
*.pyc

# Houdini caches / temp
*.bgeo
*.bgeo.sc
*.sim
*.dmp
*.pic
*.bak
*.hipnc~
*.hiplc~
*.hip~